{% extends 'base.html' %}
{% load static %}
<link href="{% static 'fornecedores/css/sb-admin-2.min.css' %}" rel="stylesheet">
<link rel="stylesheet" href="{% static 'fornecedores/bootstrap.css' %}">

{% block head %}
<link href="{% static 'fornecedores/css/estilo.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
<div class="container">
    <h1>Notas fiscais</h1>
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible  show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <form method="GET" class="row">
        <div class="col-md" style="align-items:center; padding: 10px 0px;">
            <div class="input-group">
                <input name="q" value="{{ request.GET.q }}" type="search" class="form-control rounded" placeholder="Buscar por Nº nota,  produto, data  ou categoria" aria-label="Search" aria-describedby="search-addon" />
                <button type="submit" id="search-button"  class="btn btn-primary">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="row">
        <div class="col-sm">
            <a style="margin:10px 0px; float: left;"  href="{% url 'NotasFiscaisCreate' %}" class="btn btn-success col-md-6">Nova nota fiscal</a>
        </div>
        <div class="col col-md-3">
            <button style="margin:10px 0px; float: right;" class="btn btn-primary col-md-12"  data-toggle="modal" data-target="#exampleModal">Importar nota fiscal</button>
        </div>
        <div class="col col-md-3">
            <a style="margin:10px 0px; float: right;"  href="{% url 'export_notas_csv' %}" class="btn btn-warning col-md-12">Exportar nota fiscal</a>
        </div>
        <div class="table table-responsive">
            <table class="table  table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nº nota</th>
                        <th scope="col">Fornecedor ID</th>
                        <th scope="col">Produto</th>
                        <th scope="col">Data emissão</th>
                        <th scope="col">Categoria</th>
                        <th scope="col">Quantidade</th>
                        <th scope="col">Total R$</th>
                        {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'dono' %}
                            <th scope="col">Opções</th>
                        {% endif %}
                    </tr>
                </thead>
                {% for nota_fiscal in posts.object_list %}
                    <tbody>
                        <tr>
                            <th scope="row tabela"><a href="{% url 'FornecedorEdit' nota_fiscal.id %}">{{nota_fiscal.numero_da_nota}}</a></th>
                            <td>{{nota_fiscal.fornecedor}}</td>
                                <td>{{nota_fiscal.nome_produto}}</td>
                                <td>{{nota_fiscal.data_emissao_nota}}</td>
                                <td>{{nota_fiscal.categoria}}</td>
                                <td>{{nota_fiscal.quantidade}}</td>
                                <td>{{nota_fiscal.valor_total}}</td>
                            {% if request.user.groups.all.0.name == 'admin' or request.user.groups.all.0.name == 'dono' %}
                            <td>
                                <a href="{% url 'FornecedorDelete' nota_fiscal.id %}" class="btn btn-danger" style="justify-content: center; display: flex;">Deletar</a>
                            </td>
                            {% endif %}
                        </tr>
                    </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Importar arquivo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="" method="POST" enctype="multipart/form-data">
                    <div class="modal-body">
                        {% csrf_token %}
                        {{form}}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-success">Fazer upload</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination justify-content-center" style="justify-content: center; display: flex;">
            {% if posts.has_previous != 0 %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ posts.previous_page_number }}">Anterior</a>
                </li>
            {% else %}
                <li class="page-item disabled">
                    <a class="page-link">Anterior</a>
                </li>
            {% endif %}
                <li class="page-item">
                    <a class="page-link" href="#">{{ posts.number }} de {{ posts.paginator.num_pages }}</a>
                </li>
            {% if posts.has_next %}
            <li class="page-item ">
                <a class="page-link" href="?page={{ posts.next_page_number }}">Próxima</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>
{% endblock body %}