{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible  show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container-fluid  img-fundo ">
    <div class="container justify-content-center col-md-10"><!--justify-content-center -->
        <div class="col-sm info-index">
            <h1 class="margem-h1">Projeto para seletivo<br>
                <strong class="display-3">Luro Rural</strong><br>
                Super importante.
            </h1>
            <h2 >Somos especialistas em gestão <br>
                financeira agro e na rentabilidade <br>
                da sua propriedade.</h2>
            <a style="margin-bottom: 70px;" class="btn btn-warning" href="https://lucrorural.com.br/" target="_blank">
                <strong> Site oficial - Lucro Rural</strong>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col"><h1>Informações do Projeto</h1></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><h2>User admin: lucasdev | Senha: 123</h2></td>
                </tr>
                <tr>
                    <td><h4>Crie um usuario para visualizar informações criptografadas</h4></td>
                </tr>
                <tr>
                    <td><h4>Sistema com base em Rest Api</h4></td>
                </tr>
                <tr>
                    <td><h4>Requisições: Importar e exportar csv, Criar, Deletar e Editar iformações</h4></td>
                </tr>
                <tr>
                    <td><h4>Banco de dados: Postgresql</h4></td>
                </tr>
                <tr>
                    <td><h4>Principais Tecnologias: Python, Django e Django RestFramework</h4></td>
                </tr>
                <tr >
                    <td><h4>Hospedagem: Heroku</h4></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>




{% endblock body %}