{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index/carousel/carousel.css' %}">
<script src="{% static 'index/carousel/carousel.js' %}"></script>
{% endblock %}

<style>
    .margem{
        margin-top: -55px;
    }
</style>

{% block body %}
<div class="container">
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible fade show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
    <!--  carousel  -->


		<div class="container-fluid  img-fundo">
			<div class="row justify-content-center">
				<div class="col-sm text-left">
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
                    <h1>TESTE IMPORT CSV</h1>
				</div>
			</div>
		</div>




{% endblock body %}