{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'index/style.css' %}">
{% endblock %}

{% block body %}
<div class="container">
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
            <script>alert("{{ message }}")</script>
            {% endfor %}
        {% endif %}
    </div>
</div>

<div class="container-fluid  img-fundo ">
    <div class="container justify-content-center col-md-10"><!--justify-content-center -->
        <div class="col-sm info-index">
            <h1 class="margem-h1">Projeto para seletivo<br>
                <strong class="display-3">Luro Rural</strong><br>
                Super importante.
            </h1>
            <h2 >Somos especialistas em gestão <br>
                financeira agro e na rentabilidade <br>
                da sua propriedade.</h2>
            <a style="margin-bottom: 70px;" class="btn btn-warning" href="https://lucrorural.com.br/" target="_blank">
                <strong> Site oficial - Lucro Rural</strong>
            </a>
        </div>
    </div>
</div>




{% endblock body %}