{% extends 'base.html' %}

{% block body %}
<div class="container">
    <br>
    <h1> IMPORT CSV</h1>
    <div style="align-items: center; display:flex; justify-content: center;">
        {{ message }}
        <br>
        {% if messages %}
            {% for message in messages %}
                <div class=" col-md-6 alert {{message.tags}} alert-dismissible fade show" style="display:flex; justify-content: center;">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div class="row">
        <div class="col">
            <a style="float:right;"  href="{% url 'export_csv' %}" class="btn btn-primary">Exportar csv</a>
        </div>
        <div class="sm">
            <button style="float:right;"class="btn btn-success"  data-toggle="modal" data-target="#exampleModal">Importar csv</button>
        </div>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Nome</th>
                    <th scope="col">CNPJ</th>
                    <th scope="col">Telefone</th>
                    <th scope="col">Data Cadastro</th>
                </tr>
            </thead>
            {% for fornecedor in fornecedor %}
                <tbody>
                    <tr>
                        <th scope="row">{{fornecedor.id}}</th>
                        <td>{{fornecedor.nome}}</td>
                        <td>{{fornecedor.cnpj}}</td>
                        <td>{{fornecedor.telefone}}</td>
                        <td>{{fornecedor.data_cadastro}}</td>
                    </tr>
                </tbody>
            {% endfor %}
        </table>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Importar arquivo</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <form action="" method="POST" enctype="multipart/form-data">
                <div class="modal-body">
                    {% csrf_token %}
                    {{form}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Fazer upload</button>
                </div>
            </form>
          </div>
        </div>
      </div>
</div>


{% endblock body %}