/* ------------ carousel -------------------*/
.carousel{
  width: 100%;
  min-height: 600px;
 
}
.carousel-inner{
  margin-top: -25px;
    list-style: none;
    /* aqui tiro a opção de passar SLIDEs < >  */
    position: relative!important;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: black;
    width: 100%;
    min-height: 600px;
  }
  
  /* apagar os tracinhos que indicam onde a posição do carousel */
  .carousel-indicators {
    opacity: 1;
  }

  .img-fundo{
    background: url(/static/media/fundo.jpg) no-repeat center;;
    width: 100%;
    margin-top: -25px;
    margin-bottom: 25px;
  }
.img-fundo img{
    position:relative;
    height: 70vh;

}